#sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    display: block !important;
  }

  #mobile {
    display: none;
  }
}
